				.logo{
					display: none;
				}
				.top_in{
					max-width: 1600px;
					height: 60px;
					margin: 0 auto;
				}
				.top_ul li{
					float: left;
					width: 20%;
					font-size: 20px;
					line-height: 60px;
					text-align: center;
				}
				.box1_tu img{
					padding-top: 60px;
					max-width: 100%;
				}