<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script type="text/javascript" src="lib/jquery.js" ></script>
		<script type="text/javascript" src="lib/baiduTemplate.js" ></script>
	</head>
	<body>
		<table id="my_table" border="1px">
			<thead>
				<tr>
					<th>姓名</th>
					<th>性别</th>
					<th>年龄</th>
					<th>住址</th>
				</tr>
			</thead>
			<tbody>
				 <!--<tr>
					<td>刘升升</td>
					<td>男</td>
					<td>18</td>
					<td>二拨子新村</td>
				</tr>
				<tr>
					<td>刘升升</td>
					<td>男</td>
					<td>18</td>
					<td>二拨子新村</td>
				</tr>
				<tr>
					<td>刘升升</td>
					<td>男</td>
					<td>18</td>
					<td>二拨子新村</td>
				</tr>
				<tr>
					<td>刘升升</td>
					<td>男</td>
					<td>18</td>
					<td>二拨子新村</td>
				</tr> -->
			</tbody>
		</table>
		<div class="fenye">
			<a href="###" class="start">首页</a>
			<a href="###" class="prev"><<上一页</a>
			<!--<a href="###" name="p" style="background:orange;color:#fff;">1</a>
			<a href="###" name="p" >2</a>
			<a href="###" name="p" >3</a>-->
			<a href="###" class="next">下一页>></a>	
			<a href="###" class="end" >尾页</a>		
		</div>
		<!--在这里使用script 标签来定义模板-->
		<!--我们需要给模板定义一个id，方便百度模板里的方法找到它-->
		<!--如果在这里想要识别js代码的话，需要用<% %>把代码括起来，方可识别-->
		<script type="text/template" id="persons_tpl">
		
			<!--arr要和js中的，包装好后的对象的属性名一致-->
			<% for(var tempPerson of arr){ %>
				<tr>
					<td><%= tempPerson.name %></td>
					<td><%= tempPerson.sex %></td>
					<td><%= tempPerson.age %></td>
					<td><%= tempPerson.addr %></td>
				</tr>
				
				
			<% } %>
		</script>
		<script type="text/template" id="pageBtns_tpl">
			<% for(var i = 1;i<=Count;i++){ %>
				<% if(i==1){ %>
					<a href="###" name="p" style="background:orange;color:#fff;"><%=i %></a>
					<% }else{ %>
						<a href="###" name="p" ><%=i %></a>
				<% } %>
			<% }　%>
		</script>
		
		<script type="text/javascript">
			
			var personslist = null;
			var toltalCount = 0;
			//当前页码
			var currentPageNo = 1;
			//计算有多少页(初始化页面按钮)
			function initBtn(){
				$.getJSON("data.json",null,function(resultData){
					//缓存到本地
					//所有数据
					personslist = resultData.persons;
					//数据总条数
					toltalCount = resultData.totalCount;
					
					//包装
					var obj = {
						Count:Math.ceil(toltalCount/5)
					}
					
					var $a = baidu.template('pageBtns_tpl',obj)
					
					$(".prev").after($a);
					
					//给所有按钮绑定事件
					$(".fenye a").on("click",fenyeFn);
					
					showData(currentPageNo)	
				})
			}
			
			initBtn();
			
			
			//构建某一页的数据
			function showData(pageNo){
				//这里是模拟后台操作，去匹配某一页的数据，将来开发不需要以下这个算法
				var currentArr = personslist.slice((pageNo-1)*5,pageNo*5);
//				console.log(currentArr);	

				//包装
				var obj = {
					arr:currentArr
				}
				/*
				 * 使用百度模板
				 * 这个方法有两个参数
				 * 1.是定义好的模板
				 * 2.要传入遍历的数据(注意：不要直接传原生数据，要用一个对象包起来，传入的是包装好的对象)
				 * 返回值：生成好的html字符串
				 */
				var $str = baidu.template('persons_tpl',obj);
				
				$("tbody").html($str);
			}
			
			//分页按钮点击逻辑
			function fenyeFn(){
				//1.处理页码数的逻辑
//				console.log($(this).html());
				switch($(this).html()){
					case '首页':
					currentPageNo = 1;
					break;
					case '&lt;&lt;上一页':
					currentPageNo--;
					break;
					case '下一页&gt;&gt;':
					currentPageNo++;
					break;
					case '尾页':
					currentPageNo = Math.ceil(toltalCount / 5);
					break;
					default:
					currentPageNo = parseInt($(this).html());
				}
				
				//2.处理首尾、上下按钮的显示隐藏逻辑
				if(currentPageNo==1){
					$(".start").css('display','none');
					$(".prev").css('display','none');
				}else{
					$(".start").css('display','inline-block');
					$(".prev").css('display','inline-block');
				}
				if(currentPageNo==Math.ceil(toltalCount / 5)){
					$(".end").css('display','none');
					$(".next").css('display','none');
				}else{
					$(".end").css('display','inline-block');
					$(".next").css('display','inline-block');
				}
				
				//3.处理按钮颜色的逻辑
				//获取页码按钮
				var $pageBtn = $("[name=p]");
				//先把这几个按钮样式清除
				$pageBtn.css({
					background:"#fff",
					color:"#999",
				});
				//然后再处理当前页码数对应的按钮样式
				$($pageBtn[currentPageNo-1]).css({
					background : 'orange',
					color : '#fff'
				});
				//4.显示数据
				showData(currentPageNo);
				
			}
			
		</script>
	</body>
</html>
